.container {
  padding: 20px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #e8e8e8; /* Fond plus assombri */
  min-height: calc(100vh - 80px); /* Ajuster pour la navbar */
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}
